table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 700px;
    margin: 10px auto;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #dddddd;
}
.btn {
    background-color: #dddddd;
    border: none;
    color: black;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius:5px;
}
.container {
    margin: 100px auto;
    width: 700px;
}
.txt {
    margin-left: 50px;
    color: orange;
}
